/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2016, 6:13:25 PM
    Author     : oskar
*/
body{
    background-color: white !important;
}
#planner{
    float: left;
}
#create_event{
    text-align: center;
    margin-left: 1000px;
    margin-top: 400px;
    position: absolute;
    width: 200px;
    border: 2px solid black;
}
#change_event{
    text-align: center;
}
.sender_id_input, .event1_id_input, .event2_id_input, .receiver_id_input{
    display: none;
}
.event_text_input, .event_start_date_input, .event_end_date_input, .waiter_id_input, .color_input{
    display: none;
}
.get_change_requests{
    border: 2px solid black;
}
.get_change_request_input{
    display: none;
}
.waiter_select{
    margin: 10px;
}
.event_time_select{
    margin: 10px;
}
#change_event_log{
    border: 2px solid black;
    margin-left: 1000px;
    
}
#change_event_log ul li {
   
    padding: 0 0 4px 23px;

}