/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2016, 6:13:25 PM
    Author     : oskar
*/
body{
    background-color: white !important;
}
#user_info{
    text-align: center;
    background-color: #d9d9d9; 
    border: 1px solid grey; 
    margin: 10px 5px 10px 1000px;
    box-shadow: 5px 5px 5px #888888;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    padding-top: 5px;
}
#planner{
    float: left;
}
#create_event{
    text-align: center;
    margin: 10px 5px 10px 1000px;
    border: 1px solid grey;
    background-color: #d9d9d9;
    box-shadow: 5px 5px 5px #888888;
    padding-bottom: 10px;
}
#change_event{
    text-align: center;
    border: 1px solid grey; 
    background-color: #d9d9d9;
    margin: 0px 5px 10px 1000px;
    box-shadow: 5px 5px 5px #888888;
    padding-bottom: 10px;
}
.sender_id_input, .event1_id_input, .event2_id_input, .receiver_id_input{
    display: none;
}
.event_text_input, .event_start_date_input, .event_end_date_input, .waiter_id_input, .color_input{
    display: none;
}
.get_change_requests{
    margin: 0px 5px 10px 1000px;
    border: 1px solid red;
    text-align: center;
    background-color: #ffb3b3;
    box-shadow: 5px 5px 5px #ff7f7f;
    padding-bottom: 10px;
}
.get_change_request_input{
    display: none;
}
.waiter_select{
    margin: 10px;
}
.event_time_select, .event_time_select_from, .event_time_select_to{
    margin: 10px;
}
#change_event_log{
    border: 1px solid grey;
    background-color: #d9d9d9;
    margin: 0px 5px 10px 1000px;
    box-shadow: 5px 5px 5px #888888;
    padding-left: 20px;
}
#change_event_log ul li {
   
    padding: 0 0 4px 23px;
}
#control_panel{
    margin-left: 1000px;
}
#planner_logout_btn{
    margin-left: 1000px;
}