#loginsida{
    margin-left: 50px;
}
#login{
    width: 10%;
}
#logut_create{
    text-align: right;
    margin-right: 50px;
}
#change_daily_special{
    text-align: center;
    background-color: lightgray;
}
.inputs{
    display: none;
}

.field{
    border: 1px solid grey;
    margin: 5px;
    color: black;
    display: none;
}
root { 
    display: block;
}

table {
    empty-cells: show;
}
.get_change_requests{
    border: 2px solid red;
}
#top{
    background-color: #240C00;
    margin-top: 30px;
    text-align: center;
}
#content{
    background-color: whitesmokee;
    overflow: auto;
    height: 100%;
    margin-right: 200px;
    margin-left: 200px;
}
body{
    background-color: #240C00;
}
#bottom{
    background-color: #240C00;
}
#loginbars{
    align-content: center;
    text-align: center;   
}

#type_alacarte{
    margin-left: 80px;
    text-align: center;
}
/* -----Buttons----- */

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #333333; 
    color: white;
}

.submit_button {
    background-color: #12d370;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.submit_button:hover {
    background-color: #0a753e; 
    color: white;
}

.delete_button {
    background-color: #cc0000;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.delete_button:hover {
    background-color: #990000; 
    color: white;
}
