#loginsida{
    margin-left: 50px;
}
#login{
    width: 10%;
}
#logut_create{
    text-align: right;
    margin-right: 50px;
}
#change_daily_special{
    text-align: center;
    background-color: lightgray;
}
.inputs{
    display: none;
}

.field{
    border: 1px solid grey;
    margin: 5px;
    color: black;
    display: none;
}
root { 
    display: block;
}

table {
    empty-cells: show;
}
.get_change_requests{
    border: 2px solid red;
}
#top{
    background-color: #240C00;
    margin-top: 30px;
    text-align: center;
}
#content{
    background-color: whitesmokee;
    overflow: auto;
    height: 100%;
    margin-right: 200px;
    margin-left: 200px;
}
body{
    background-color: #240C00;
}
#bottom{
    background-color: #240C00;
}
#Loginali{
    
}

#type_alacarte{
     
}
