#janne{
    align-self:  flex-end;
}

#loginsida{
    margin-left: 50px;
}
#login{
    width: 10%;
}
#logut_create{
    text-align: right;
    margin-right: 50px;
}
#change_daily_special{
    text-align: center;
    background-color: lightgray;
}
.inputs{
    display: none;
}
.field{
    border: 1px solid grey;
    margin: 5px;
    color: black;
}
root { 
    display: block;
}

table {
    empty-cells: show;
}