#navmeny{
    margin: 0 auto;
    display: block;
    width: 33%;
    float: left;
}

#navmeny li{
    float: left;
    border: 30px;
    border-color: #240c00;
    
}

.topnav {
    position: fixed;
    background-color: #240C00;
    width: 100%;
    z-index: 1;
    color: red;
    text-align: center;
    margin-top: -5px;
    padding-bottom: 15px;
}
body{
    background-color: #240C00;
}
p, h1, h2, h3, h4, h5{color:white;}
p{
    font-size: 16px;
}
.row h4{
    margin-top: -15px;
}

#box2{
    width: 50%;
    float: left;
    overflow: hidden;
    padding: 30px;
    padding-bottom: -30px;
}
#box2 img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
#textlogga{
    width:33%;
    float: left;
    text-align: center;
}
#bildlogga{
    width:33%;
    float: right;
    margin-right: -173px;
    margin-bottom: -21px;
}
#sidaffisch{
    float: right;
    margin-top: 10%;
    height: 50px;
    position: fixed;
    z-index: 2;
    margin-right: -11px;
    right: 0px;
}
#sidaffisch img {
    width: 400px;
    margin-left: 20px;
}
/*
#sidaffisch img:hover{
    -webkit-transform: scale(1.5,1.5);
    margin-right:300px;
    margin-top: -30px;
    
}
*/
#loginsida{
    margin-left: 50px;
}
#login{
    width: 10%;
}
#logut_create{
    text-align: right;
    margin-right: 50px;
}
#change_daily_special{
    text-align: center;
    background-color: lightgray;
}
.inputs{
    display: none;
}
.field{
    border: 1px solid grey;
    margin: 5px;
    color: black;
}
root { 
    display: block;
}

table {
    empty-cells: show;
}
#VisaDagens{
    width: 85%;
}

#lunch p{
    margin: -5px;
}

@media only screen and (max-width: 1400px){
    #sidaffisch img {
        display: none;
    }
}

@media screen and (max-height: 750px) {
    #sidaffisch img {
        display: none;
    }
}