body{
    background-color: #240C00;
}
p{
    color: #7B4F37;
    font-size: 150%;
}
h1, h2, h3, h4, h5{
    color: #A46849;
    font-size: 150%;
}
.row h4{
    margin-top: -15px;
}
#box2{
    width: 50%;
    float: left;
    overflow: hidden;


}
#box2 img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
#box2_5{
    width: 40%;
    float: left;
    overflow: hidden;
    margin-right: 30px;
}
#sidaffisch{
    float: right;
    margin-top: 7%;
    max-height: 780px;
    position: fixed;
    z-index: 2;
    margin-right: -11px;
    right: 0px;
    display: none;
    
}
#sidaffisch img {
    width: 400px;
    margin-left: 20px;
}
#VisaDagens{
    width: 85%;
}

#lunch p{
    margin: -5px;
}
#middag {
    margin-right: 50px;
}
#middag p{
    margin-top: -8px;
}
#DagensLunch{
    margin-bottom: 50px;
}
#error_header{
    width: 100%;
    height: 150px;
    margin-left: 20%;
}
#error_header h1{
    font-size: 400%;
}
#error_code{
    width: 400px;
    padding-left: 20px;
    margin-left: -20px;
    margin-top: 50px;
    border-color: #1a0900;
    background-color: #1a0900;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}
#error_code h2{
    font-size: 300%;
    margin-top: 3px;
}
#error_code h3{
    margin-top: -20px;
}
#error_help a, a:visited{
    color: #7B4F37;
    text-decoration: none;
}
#error_help a:hover{
    color:white;
    text-decoration: none;
    
}
@media only screen and (max-width: 1700px){
    #sidaffisch img {
        display: none;
    }
}

@media screen and (max-height: 700px) {
    #sidaffisch img {
        display: none;
    }
}

@media only screen and (max-width: 500px){
    #box2mobile{
       width: 100%;
    }
}
